<nav>
    <div>
        <a href="/"><h1>Blogify</h1></a>
        <p>Blogs Website</p>
    </div>

    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create-blogs">New Blog</a></li>
    </ul>
</nav>