<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About-Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam assumenda non iste eaque deleniti natus! Laboriosam ducimus vero ullam iusto, ipsam natus nesciunt tenetur rem illo at, suscipit ipsum! Sequi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam assumenda non iste eaque deleniti natus! Laboriosam ducimus vero ullam iusto, ipsam natus nesciunt tenetur rem illo at, suscipit ipsum! Sequi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam assumenda non iste eaque deleniti natus! Laboriosam ducimus vero ullam iusto, ipsam natus nesciunt tenetur rem illo at, suscipit ipsum! Sequi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam assumenda non iste eaque deleniti natus! Laboriosam ducimus vero ullam iusto, ipsam natus nesciunt tenetur rem illo at, suscipit ipsum! Sequi.</p>

    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>